.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    padding-bottom: 200px;

    h1 {
        font-family: IBM Plex Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 80px;
        color: #000000;
    }
    p {
        font-family: Inter;
        padding-top: 100px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 36px;
        color: #000000;
    }
}
