.roosefy{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 470px;
    overflow: hidden;
    height: 650px;
    background-color: #1f7df8;

    transition: 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: translateY(-20px);
        opacity: 0.7;
    }
    .items-box-header {
        font-family: "IBM Plex Mono", monospace;
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 44px;
        color: #ffff;
        margin: 40px 277px 0 40px;
    }
    p {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;
        line-height: 36px;
        margin: 10px 76px 20px 40px;
    }
    .items-img-dot {
        position: absolute;
        top: 160px;
        left: 40px;

        .roosfyN {
        }
    }

    .items-img-phone {
        position: absolute;
        display: inline-flex;
        width: 621px !important;
        height: 639px !important;
        transform: translate(-10%, 28%);
        .roosfyP {
            min-width: 50% !important;
            max-width: 50% !important;
            display: inline-flex;
            object-fit: cover;
        }
    }
}