@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 900px) {
  // HEADER CSS

  header {
    padding: 0;
    display: flex;
    position: relative;
    .right {
      width: 140px;
      height: 60px;
    }
    .left {
      display: block;
    }
    .menu__box {
      display: none !important;
    }
    .logo {
      width: 100px;
      margin: 20px;
    }
    .left {
      width: 100%;
      transition: 0.5s ease-in-out;
      .toggle-icon {
        display: block;
        position: absolute;
        top: 5px;
        right: 0;
        transition: 0.5s ease-in-out;
        button {
          margin: 10px;
          cursor: pointer;
        }
      }
      .toggle-menu {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        top: 50px;
        transition: 0.5s ease-in-out;
        z-index: 999;
        background-color: rgb(238, 238, 238);
        .mobil-menu {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          transition: 0.5s ease-in-out;
          li {
            width: 100%;
            text-align: center;
            transition: 0.5s ease-in-out;

            .mobil_menu__item {
              display: block;
              font-size: 20px;
              font-weight: 600;
              transition: 0.5s ease-in-out;
              text-decoration: none;
              padding: 10px;
              color: #000;
            }
            &:hover {
              background-color: #cfd8dc;
            }
          }
          :hover {
            background-color: #cfd8dc;
          }
        }
      }
    }
  }

  //CONTENT CSS

  .content {
    // .content-img {
    // }
    .content-text {
      h1 {
        font-size: 40px;
        line-height: 80px;
      }
    }
  }

  // CONTENTITEMS CSS

  .items {
    // width: 1000px;
    // padding: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 300px !important;
      height: 350px !important;
      margin: 10px;
      border: none !important;
    }
  }

  .roosefy {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 270px !important;
    overflow: hidden;
    height: 350px !important;
    background-color: #1f7df8;

    transition: 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: translateY(-20px);
      opacity: 0.7;
    }
    .items-box-header {
      font-family: "IBM Plex Mono", monospace;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 44px;
      margin: 0 !important;
      margin-left: 5px !important;
      color: #ffff;
      width: 135px !important;
      height: 40px !important;
      border: none !important;
      // margin: 40px 277px 0 20px;
    }
    p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px !important;
      color: #ffffff;
      line-height: 36px;
      margin: 0 !important;
      margin-left: 20px !important;
      // margin: 10px 76px 20px 40px;
    }
    .items-img-dot {
      position: absolute;
      top: 61px !important;
      left: 14px !important;
      img {
        top: 25px !important;
        left: 30px !important;
        margin: 0 !important;
        padding: 0 !important;
        min-width: 55% !important;
        max-width: 55% !important;
        min-height: 70% !important;
        max-height: 70% !important;
      }
    }

    .items-img-phone {
      position: absolute;
      display: inline-flex;
      width: 300px !important;
      height: 300px !important;
      transform: translate(0%, 31%) !important;

      .roosfyP {
        min-width: 100% !important;
        max-width: 100% !important;
        display: inline-flex;
        object-fit: cover;
      }
    }
  }

  .astrodiac {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 270px !important;
    height: 350px !important;
    background-color: #1fcffe !important;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin: 0 !important;
    margin-top: 30px !important;
    &:hover {
      transform: translateY(-20px);
      opacity: 0.7;
    }

    .astrodiac-header {
      font-family: "IBM Plex Mono", monospace;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 44px;
      margin: 0 !important;
      margin-left: 15px !important;
      color: #ffff;
      width: 135px !important;
      height: 40px !important;
      border: none !important;
      // margin: 40px 236px 0 20px;
    }
    p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px !important;
      color: #ffffff;
      line-height: 36px;
      margin: 0 !important;
      margin-left: 15px !important;
      // margin: 10px 76px 20px 40px;
    }
    .roosfyN {
      width: 100%;
      height: auto;
    }
    .items-img {
      position: absolute;
      display: inline-flex;
      width: 300px !important;
      height: 335px !important;
      transform: translate(0%, 5%) !important;

      img {
        min-width: 69% !important;
        max-width: 69% !important;
        min-height: 90% !important;
        max-height: 90% !important;
        display: inline-flex;
        object-fit: cover;
      }
    }
    .items-imgBg {
      position: absolute;
      bottom: -10px !important;
      right: 20px !important;
      img {
        top: 25px !important;
        left: 30px !important;
        margin: 0 !important;
        padding: 0 !important;
        min-width: 80% !important;
        max-width: 80% !important;
        min-height: 70% !important;
        max-height: 70% !important;
      }
    }
  }

  .naricon {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 270px !important;
    overflow: hidden;
    height: 350px !important;
    background-color: rgba(9, 2, 53, 1);
    margin: 0 !important;
    margin-top: 50px !important;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: translateY(-20px);
      opacity: 0.7;
    }
    .items-box-header {
      font-family: "IBM Plex Mono", monospace;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 44px;
      margin: 0 !important;
      margin-left: 0 !important;
      color: #ffff;
      width: 135px !important;
      height: 40px !important;
      border: none !important;
      // margin: 40px 277px 0 20px;
    }
    p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px !important;
      color: #ffffff;
      line-height: 36px;
      margin: 0 !important;
      margin-left: 15px !important;
      // margin: 10px 76px 20px 40px;
    }

    .items-img-dot {
      position: absolute;
      top: 61px !important;
      right: -15px !important;
      img {
        padding: 0 !important;
        min-width: 60% !important;
        max-width: 60% !important;
        min-height: 70% !important;
        max-height: 70% !important;
      }
    }

    .items-img-phone {
      position: absolute;
      display: inline-flex;
      width: 300px !important;
      height: 300px !important;
      transform: translate(0%, 5%);

      img {
        min-width: 69% !important;
        max-width: 69% !important;
        min-height: 90% !important;
        max-height: 90% !important;
        display: inline-flex;
        object-fit: cover;
      }
    }
  }

  .qrScan {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 270px !important;
    overflow: hidden;
    height: 350px !important;
    background-color: rgba(37, 53, 175, 1);
    margin: 0 !important;
    margin-top: 60px !important;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: translateY(-20px);
      opacity: 0.7;
    }
    .items-box-header {
      font-family: "IBM Plex Mono", monospace;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 44px;
      margin: 0 !important;
      margin-left: 0 !important;
      color: #ffff;
      width: 135px !important;
      height: 40px !important;
      border: none !important;
      // margin: 40px 277px 0 20px;
    }
    p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px !important;
      color: #ffffff;
      line-height: 36px;
      margin: 0 !important;
      margin-left: 15px !important;
      // margin: 10px 76px 20px 40px;
    }
    .items-img-dot {
      position: absolute;
      top: 61px !important;
      left: 14px !important;
      img {
        top: 75px !important;
        left: 20px !important;
        margin: 0 !important;
        padding: 0 !important;
        min-width: 70% !important;
        max-width: 70% !important;
        min-height: 90% !important;
        max-height: 90% !important;
      }
    }

    .items-img-phone {
      position: absolute;
      display: inline-flex;
      width: 300px !important;
      height: 300px !important;
      transform: translate(-7%, 0%) !important;

      img {
        min-width: 71% !important;
        max-width: 71% !important;
        min-height: 96% !important;
        max-height: 91% !important;
        display: inline-flex;
        object-fit: cover;
      }
    }
  }

  // CONTENTITEMS CSS

  //FOOTER CSS

  .footerHeader {
    padding: 0 !important;
  }

  .footerHeader .footerHeader-numbers {
    padding: 15px !important;
  }
  .footerHeader-button {
    margin: 10px !important;
    width: 900px !important;
    text-align: center;
  }
  .footerHeader-button .button {
    padding: 20px 250px;
    width: 100%;
  }

  //CONTENT CSS

  .footerHeader .footerHeader-numbers {
    padding: 0 !important;
  }

  // NARİCON

  // NARİCON
}

@media screen and (max-width: 600px) {
  //HEADER

  header {
    padding: 0;
    display: flex;
    position: relative;
    .right {
      width: 140px;
      height: 60px;
    }
    .left {
      display: block;
    }
    .menu__box {
      display: none !important;
    }
    .logo {
      width: 100px;
      margin: 15px;
    }
    .left {
      width: 100%;
      transition: 0.5s ease-in-out;
      .toggle-icon {
        display: block;
        position: absolute;
        top: 5px;
        right: 0;
        transition: 0.5s ease-in-out;
        button {
          margin: 10px;
          cursor: pointer;
        }
      }
      .toggle-menu {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        top: 50px;
        transition: 0.5s ease-in-out;
        z-index: 999;
        .mobil-menu {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          transition: 0.5s ease-in-out;
          li {
            width: 100%;
            text-align: center;
            transition: 0.5s ease-in-out;

            .mobil_menu__item {
              display: block;
              font-size: 20px;
              font-weight: 600;
              transition: 0.5s ease-in-out;
              text-decoration: none;
              padding: 10px;
              color: #000;
            }
            &:hover {
              background-color: #cfd8dc;
            }
          }
          :hover {
            background-color: #cfd8dc;
          }
        }
      }
    }
  }

  //CONTENT CSS

  .content {
    header {
      display: flex;
      justify-content: space-between;
      padding: 63px 120px 73px 120px;
    }
    main {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .contentItem {
      max-width: 1025px;
      margin: 0 auto;
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 200px;

      .items {
        // width: 1000px;
        // padding: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        span {
          width: 500px;
          border: 1px solid red;
        }
      }
    }

    .content-img {
    }
    .content-text {
      h1 {
        font-size: 20px;
        line-height: 50px;
      }
    }
  }

  //CONTENTITEMS

  .footerHeader .footerHeader-numbers {
    padding: 0 !important;
  }
}

@media screen and (max-width: 300px) {
  .content {
    .content-img {
    }
    .content-text {
      h1 {
        font-size: 30px;
        line-height: 60px;
      }
    }
  }
}
